
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- /* th:replaceの::は「置換ファイルの配置パス::fragmentの設定値(受け渡す値)」 */ -->
<head th:replace="layout :: common_layout('サーバー設定画面')">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--   <title>サーバー設定画面</title> -->
 </head>
<body>

<div th:replace="layout :: header"></div>
サーバー設定画面

  <form th:action="@{/admin/setting}"
      th:object="${prgLanguageForm}" method="post">
    プログラム言語：<select class="form-control" name="name">
      <option th:each="item : ${prgNameList}" th:value="${item}"
        th:text="${item}">pull down</option>
    </select>
    ビルドコマンドパス：<input type="text" name="buildCmdPath"   value="" />
    実行コマンドパス：<input type="text" name="executeCmdPath"  value="" />
    作業フォルダパス：<input type="text" name="workFolderPath"   value=""/>
    <input type="submit" class="btn btn-info btn-block" th:value="保存" /> 
  </form>

<div th:replace="layout :: footer"></div>
</body>
</html>
