
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>課題登録画面</title>
  <link rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/3.4.0/jquery.slim.min.js}" type="text/javascript" charset="utf-8"></script>
  <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.bundle.min.js}" type="text/javascript" charset="utf-8"></script>


 </head>
<body>

<div th:replace="layout :: header"></div>

■課題登録ページ

<form>



</form>
 
 <div th:replace="layout :: footer"></div>
 
</body>
</html>
