
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: common_layout(title = '先生用課題登録画面', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}" />

  <link href="../../css/learn.css" th:href="@{/css/learn.css}" rel="stylesheet"></link>

<script th:src="@{/webjars/jquery/3.4.0/jquery.slim.min.js}"
	type="text/javascript" charset="utf-8"></script>

<script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.bundle.min.js}"
	type="text/javascript" charset="utf-8"></script>



<script th:src="@{/webjars/ace/1.3.3/src-noconflict/ace.js}" type="text/javascript" charset="utf-8"></script>







</head>
<body onload="init()">

	<div th:replace="layout :: header"></div>

	■課題登録
	
	<p th:text="${result}"></p>
	
	<div class="container-fluid no-gutters pb-5">

		<form th:action="@{/teacher/task/add}"
			th:object="${taskAddCodeForm}" method="post" id="taskAddCodeForm">

			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="editor1" class="col-form-label" >コード前部(学生操作不可)</label>
				</div>
				<div id="editor1" class="col-md-12"></div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="editor2" class="col-form-label">コード中部(学生操作可)</label>
    			</div>
				<div id="editor2" class="col-md-12"></div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="editor3" class="col-form-label" >コード後部(学生操作不可)</label>
				</div>
				<div id="editor3" class="col-md-12"></div>
			</div>
			<div class="form-row">
				<div class="col-md-12">
		        	<input type="button" class="btn btn-info btn-block" th:value="実行" onClick="setCode()"/> 
		        </div>
	       	</div>
          <input type="hidden" name="frontCode" id="frontCode" />
          <input type="hidden" name="middleCode" id="middleCode" />
          <input type="hidden" name="backCode" id="backCode" />
          <input type="hidden" name="languageId" value="002"/>
		</form>
	</div>

<script th:inline="javascript">

function init() {
	
    var editor1 = ace.edit("editor1");
    editor1.setTheme("ace/theme/eclipse");
    editor1.session.setMode("ace/mode/java");
	document.getElementById('editor1').style.fontSize='12px';
	
    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/eclipse");
    editor2.session.setMode("ace/mode/java");
	document.getElementById('editor2').style.fontSize='12px';
	
    var editor3 = ace.edit("editor3");
    editor3.setTheme("ace/theme/eclipse");
    editor3.session.setMode("ace/mode/java");
}

function setCode() {
	var editor1 = ace.edit("editor1");
	document.getElementById("frontCode").value = editor1.getValue();
	var editor2 = ace.edit("editor2");
	document.getElementById("middleCode").value = editor2.getValue();
	var editor3 = ace.edit("editor3");
	document.getElementById("backCode").value = editor3.getValue();
	
    var form = document.getElementById('taskAddCodeForm'); 
    form.submit();
}
	  
</script>
</body>
</html>
