
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }

	.ace_editor {
		border: 1px solid lightgray;
		margin: auto;
		height: 200px;
		width: 80%;
	}

  </style>
</head>
<body>
<!--
<div>
  <form th:action="@{/student/learn/editorsetting}"
    th:object="${studentLearnForm}" method="post">

    <select name="theme">
      <option th:each="item : ${themeList}" th:value="${item}"
        th:text="${item}"> - theme - </option>
    </select>
    <select name="mode">
      <option th:each="item : ${modeList}" th:value="${item}"
        th:text="${item}"> - mode - </option>
    </select>
    <input type="submit" th:value="設定" />     
  </form>
</div>
-->
<div id="controlPanel">
<form name="form1">
	font-size:<input type="number" name="text1" value="12" maxlength="5" onChange="changeFontSize(this)">px
	theme:<select id="sel1" onChange="changeTheme()"></select>
</form>
</div>
<div>
  <form th:action="@{/student/learn/execute}"
    th:object="${studentLearnForm}" method="post" id="studentLearnForm">
    <input type="hidden" name="code" id="code" />
    <input type="button" th:value="実行" onClick="setCode()"/> 
    </form>
</div>
<div>
<p th:text="${code}"></p>
</div>
<pre id="editor">
public class Test {
    public static void main(String[] args) {
        System.out.println("TEST");
    }
}
</pre>
<script th:src="@{/webjars/ace/1.3.3/src-noconflict/ace.js}" type="text/javascript" charset="utf-8"></script>
<script src="../../../static/js/studentlearn-editor.js" th:src="@{/js/studentlearn-editor.js}"></script>
<script>
function setCode() {
	var editor = ace.edit("editor");
	document.getElementById("code").value = editor.getValue();
    var form = document.getElementById('studentLearnForm'); 
    form.submit();
}

</script>
</body>
</html>
