
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: common_layout(title = '問題一覧画面', scripts = ~{::script}, links = ~{::link})">
 </head>
<body>

<div th:replace="layout :: header"></div>

<h2>■問題一覧</h2>
<div class="able-responsive-md container">
	<table class="table table-hover table-striped">
		<thead class="thead-dark">
          	<tr class="row">
				<th class="col-md-3 text-nowrap" scope="col" th:text="タイトル">タイトル</th>
				<th class="col-md-6 text-nowrap" scope="col" th:text="説明文">説明文</th>
				<th class="col-md-1 text-nowrap" scope="col" th:text="入力数">入力数</th>
				<th class="col-md-1" scope="col"></th>
				<th class="col-md-1" scope="col"></th>
			</tr>
		</thead>
		<tbody>
		<tr class="row" th:each="question : ${questions}">
			<td class="col-md-3" th:text="${question.title}">タイトル</td>
			<td class="col-md-6" th:text="${question.description}">説明文</td>
			<td class="col-md-1" th:text="${question.inputNum}">入力数</td>
			<td class="col-md-1">
				<form th:action="@{/teacher/question/edit}" method="post">
					<input type="submit" name="form" th:value="編集" />
					<input type="hidden" name="id" th:value="${question.id}" />
				</form>
			</td>
			<td class="col-md-1">
				<form th:action="@{/teacher/question/delete}" method="post">
					<input type="submit" name="form" th:value="削除" />
					<input type="hidden" name="id" th:value="${question.id}" />
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div th:replace="layout :: footer"></div>
  
</body>
</html>
